.profile {
  padding-block-start: 4.375rem;
  padding-block-end: 2.5rem;
  padding-inline: 1.875rem;

  display: flex;
  flex: 1;
  justify-content: center;
}
.profile__container {
  flex: 1;
  text-align: center;

  max-width: 260px;
  width: 100%;
  
  display: grid;
  align-items: start;
}
.profile__heading {
  margin: 0;
  font-size: 0.6875rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.profile__content {
  display: grid;
  margin-top: 5rem;
  gap: 1.0625rem;
}
.profile__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;

  padding-bottom: 1rem;
  border-bottom: #424242 1px solid;
}
.profile__item:last-of-type {border: 0;}
.profile__paragraph {
  margin: 0;
  font-size: 0.6875rem;
  font-weight: 500;
}
.profile__footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  align-self: end;
}

.profile__button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;

  background-color: transparent;

  font-size: 0.75rem;

  cursor: pointer;
  transition: filter 250ms;
}
.profile__button:hover {filter: brightness(80%);}
.profile__button_red {color: var(--red-500);} 

.profile__button_save {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--blue-400);

  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  
  padding-block: 0.9375rem;
  border-radius: 0.1875rem;
  align-self: stretch;

  cursor: pointer;
  color: inherit;

  transition: filter 250ms;
}

.profile__button_save:hover {filter: brightness(70%);}

@media screen and (min-width:768px) {
  .profile__container {
    align-items: center;
    max-width: 410px;
  }

  .profile__button_save {font-size: 0.875rem;}

  .profile__content { margin-top: 6rem; }
  .profile__footer { align-self: center; }
}

@media screen and (min-width:1280px) {
  .profile {
    padding-block-start: 4.625rem;
    padding-block-end: 4.375rem;
  }
  
  .profile__container { align-items: start;}
  
  .profile__content { margin-top: 7.6875rem; }
  .profile__footer{ align-self: end;}
}
