body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  min-width: 320px;
  background-color: var(--dark);

}
#root {
  display: flex; 
  flex-flow: column; 
}