@import url(vendor/fonts/inter.css);
@import url(components/about/About.css);
@import url(components/about-block/AboutBlock.css);
@import url(components/hero/Hero.css);
@import url(components/diagram/Diagram.css);
@import url(components/main/Main.css);
@import url(components/tech/Tech.css);
@import url(components/the-header/TheHeader.css);
@import url(components/the-footer/TheFooter.css);
@import url(components/student/Student.css);
@import url(components/portfolio/Portfolio.css);
@import url(components/filter-toggle/FilterToggle.css);
@import url(components/search-form/SearchForm.css);
@import url(components/movies/card/MoviesCard.css);
@import url(components/movies/card-list/MoviesCardList.css);
@import url(components/search-block/SearchBlock.css);
@import url(components/the-navbar/TheNavbar.css);
@import url(components/mobile-nav/MobileNav.css);
@import url(components/modal/Modal.css);
@import url(components/not-found/NotFound.css);
@import url(components/show-more/ShowMore.css);
@import url(components/profile/Profile.css);
@import url(components/auth-page/AuthPage.css);
@import url(components/auth-form/AuthForm.css);
@import url(components/auth-form/item/AuthFormItem.css);

:root {
  color-scheme: light dark;
  --blue-700: #073042;
  --blue-400: #4285F4;
  --blue-300: #3456F3;
  --green-400: #3ddc84;
  --dark: #202020;
  --black: #000;
  --gray-950: #222;
  --gray-900: #272727;
  --gray-800: #303030;
  --gray-700: #424242;
  --gray-600: #8b8b8b;
  --gray-500: #a0a0a0;
  --gray-300: #dadada;
  --gray-200: #e6e6e6;

  --gap-3: 0.625rem;
  --gap-3-5: 0.75rem;
  --gap-4: 0.875rem;
  --gap-5: 1.125rem;
  --gap-6: 1.1875rem;
  --gap-7: 1.375rem;
  --gap-8: 1.6875rem;
  --gap-10: 1.875rem;
  --gap-12: 3.125rem;
  --gap-15: 3.5rem;
  --gap-22: 4.375rem;
  --gap-25: 4.6875rem;
  --gap-30: 5.625rem;
  --gap-50: 8.75rem;

  --max-width: 1140px;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Inter';
  color: #fff;
  scroll-behavior: smooth;
  min-width: 320px;
  background-color: var(--dark);

}
#root {
  display: flex; 
  flex-flow: column; 
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

